<section class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="d-flex justify-content-end" *ngIf= "_Router.url ==='/demo'">
                <button class="btn btn-secondary" (click)="startInstance()" >
                    New Request
                </button>
            </div>
        </div>
    </div>
    <div id="" class="row mt-2" >
            <div *ngIf="userTasks, else elsePart"   class="col-md-3 mt-5 border border-primary rounded my-2 p-3">
                <h3 class="text-primary border text-center rounded-pill  ">Task List</h3>
                <button class="btn btn-primary mt-2" *ngFor="let x of userTasks ; index as i" (click)="getForm(x.id)">
                    {{x.name}} {{i+1}}
                </button>
            </div>  
        
        <div class="col-md-9">
            <form action="" id="mmmm">
        
            </form>
        </div>
    </div>
    <ng-template #elsePart >
        <div class="alert alert-danger mt-2">
            No tasks for this user Currently
        </div>
    </ng-template>
    <div class="d-flex justify-content-center my-2 pr-2">
        <button class="btn btn-primary mr-1" *ngFor="let x of allProcessInstances; index as i" (click)="ActivityInstance(x.id)" >
            Instance {{i+1}}
        </button>
   </div>
    <table class="table " >
        <thead>
            <tr>
                 <th>User</th>
                 <th>Task Name</th>
                 <th>Start</th>
                 <th>End</th>
                 <th>variable Name</th>
                 <th>value</th>
            </tr>
            <tr *ngFor="let x of ActivityInstanceData; index as i">
                <td>{{x.assignee}}</td>
                <td>{{x.activityName}}</td>
                <td>{{x.startTime}}</td>
                <td *ngIf="x.endTime , else elsePart">{{x.endTime}}</td>
                <ng-template #elsePart>
                    <td > Pending</td>
                </ng-template>
                <td></td>
                <td></td>
            </tr>
        </thead>
    </table>

    
    </section>
    
    
